
<div >
  <app-search-bar [posts]="posts" (onSelectedOption)="onSelectedOption($event)"></app-search-bar>

<div class="panel panel-default" >
    <ul  class="list-group mb-5">
      <li *ngFor="let post of posts" class="list-group-item clearfix" id="postsList">
        <a
          class="media mb-2 mt-2 ml-2 mr-2 mr-4"
          [routerLink]="['/posts/', post.id]">
          <div class="col-sm">
            <div class="row">
            <button _ngcontent-c12="" class="btn btn-sm btn-primary btn-tooltip" ngbtooltip="likes" placement="left" type="button" ng-reflect-placement="left" ng-reflect-ngb-tooltip="Tooltip on left" style="width: 40px; height:40px;font-size : 20px;margin-right: 20px;">{{post.ratingPoints}}</button>
              <h1 class="card-title">{{ post.title }}</h1></div>
            <div style="text-align: right">
              <span *ngFor="let tag of post.tags" class="badge badge-pill badge-primary text-uppercase">{{ tag.name }}</span></div>
            <br>
            <p class="card-text">
            {{ post.content }}
            </p>
          </div>
        </a>
        <div class="card-footer text-muted" style="font-size: 18px">Posted on {{post.created_at | date :'medium'}}
        </div>
      </li>
    </ul>
</div>
  <div class="text-right">
  <button class="btn btn-1 btn-outline-primary" type="button" style="width: 150px; height:40px;font-size:12px;margin-right: 20px;" *ngIf="authority" routerLink="/posts-add">Create Post </button> </div>

  <h2 *ngIf="posts?.length === 0"> No posts available </h2>
</div>
